@import "../css/global.scss";

.c-img {

    &--base {
        width: 74px;
        height: 74px;
        object-fit: cover;
        border-radius: calc($unit * 2);
    }

    &--upload {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: calc($unit * 2);
    }
}