@import "../css/global.scss";

.u-display {
    &--flex {
        display: flex;

        &--u {
            flex: unset;
        }

        &--ai {
            &--center {
                align-items: center;
            }

            &--start {
                align-items: flex-start;
            }

            &--end {
                align-items: flex-end;
            }
        }

        &--col {
            flex-direction: column;
        }

        &--jc {
            &--sb {
                justify-content: space-between;
            }
        }

        &--fill {
            flex: 1;
        }

        &--wrap {
            flex-wrap: wrap;
        }

        &--gap {
            &--xsml {
                gap: calc($unit * 1);
            }

            &--sml {
                gap: calc($unit * 2);
            }

            &--base {
                gap: calc($unit * 3);
            }

            &--med {
                gap: calc($unit * 5);
            }

            &--lrg {
                gap: calc($unit * 7);
            }
        }
    }

    &--full {
        width: 100%;
    }

    &--width {
        &--60 {
            max-width: 60%;
        }

    }

    &--overflow {
        &--x0 {
            overflow-x: hidden;
        }
    }

}